<!DOCTYPE html>
<html lang="en">
<head>
	    <!-- Required meta tags -->
	<meta charset="utf-8">
	    
</head>
<body>
	<h2> Идите на хуй</h2>
	<form action="/add_roll">
		<input name="name" placeholder="Имя"><br>
		<input name="price" placeholder="Цена"><br>
		<input name="tags" placeholder="Тэги"><br>
		<textarea name="desc" placeholder="Описасание">
			
		</textarea><br>
		<input type="submit" value="Добавить"><br>
	</form>


	<h2> Идите на хуй2</h2>
	<form action="/del_roll">
		<input name="name" placeholder="Имя"><br>
		<input type="submit" value="Удалить"><br>
	</form>
</body>
</html>