<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style1.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Order</title>
  </head>


  <body>
    <div class="container">
      <div class="order">
        <div class="close"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>

        <br/>
        <br/>
        <br/>


          <div class="row">
            <a href="/zakas"><div class="ord col-md-5">Заказ</div></a>
            <div class="line22 col-md-2"><hr/></div>
            <div class="del col-md-5">Доставка</div>
          </div>
        {{session['korsina']}}
        <hr class="divider">
        <div class="position">
          <div class="row">
            <div class="picture col-xs-12 col-md-2"><center><img src="images/image 14.png" width="100%"></center></div>
            <div class="name col-xs-12 col-md-5">
              <h4>Филадельфия с авокадо</h4>
              <p>8 шт. 228 г</p>
              <p>Сливочный сыр, угорь, авокадо, соус унаги, кунжут, соус унаги</p>
            </div>
            <div class="price col-xs-4 col-md-1"><p class="pr">320 &#8381;</p></div>
            <div class="quantity class col-xs-4 col-md-2"><center>
              <i class="fa fa-minus-square-o fa-2x" aria-hidden="true"></i>
              <span class="number">3</span>
              <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></center>
            </div>
            <div class="summ col-xs-4 col-md-1"><p class="summ1">960 &#8381;</p></div>
            <div class="delete col-xs-12 col-md-1"><center><i class="fa fa-window-close-o fa-2x" aria-hidden="true"></i></center></div>
          </div>
        </div>
        <hr class="divider">
        <div class="position">
          <div class="row">
            <div class="picture col-xs-12 col-md-2"><img src="images/image 20.png" width="100%"></div>
            <div class="name col-xs-12 col-md-5">
              <h4>Филадельфия с авокадо</h4>
              <p>8 шт. 228 г</p>
              <p>Сливочный сыр, угорь, авокадо, соус унаги, кунжут, соус унаги</p>
            </div>
            <div class="price col-xs-4 col-md-1"><p class="pr">320 &#8381;</p></div>
            <div class="quantity class col-xs-4 col-md-2"><center>
              <i class="fa fa-minus-square-o fa-2x" aria-hidden="true"></i>
              <span class="number">3</span>
              <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i></center>
            </div>
            <div class="summ col-xs-4 col-md-1"><p class="summ1">960 &#8381;</p></div>
            <div class="delete col-xs-12 col-md-1"><center><i class="fa fa-window-close-o fa-2x" aria-hidden="true"></i></center></div>
          </div>
        </div>
        <hr class="divider">
        <p class="itog">Итого: 1 337&#8381;</p><br><br>
        <p class="delivery">Бесплатная доставка от 600&#8381;</p><br><br>
        <center><button type="submit" class="btn btn-primary">Дальше</button></center>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>